@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', 'sans serif';
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(235, 201, 173);
}

.content{
    background-color: #fff;
    border-radius: 15px;
    width: 80%;
    height: 50%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.content::before{
    content: "";
    position: absolute;
    background-color: rgb(230, 125, 6);
    width: 40%;
    height: 100%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;


    left: 0;
}

.first-content{
    display: flex;
}

.first-content .second-column{
    z-index: 11;
}

.first-column{
    text-align: center;
    width: 40%;
    z-index: 10;
}

.second-column{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title{
    font-size: 20pt;
    font-weight: bold;
}

.title.primary{
    color: #fff;
}

.title.second{
    color: rgb(230, 125, 6);
    text-align: center;
}

.list-social-media{
    display: flex;
    list-style-type: none;
    margin: 10px;
    
}

.item-social-media a{
    color: rgb(235, 201, 173);
    font-size: 20pt;
    margin-right: 10px;
    cursor: pointer;
}

.item-social-media a:hover{
    color: rgb(230, 125, 6);
    transition: 200ms;
}

.form{
    display: flex;
    flex-direction: column;
    width: 60%;
    
}

.form input {
    height: 40px;
    border: none;
    width: 100%;
    background-color: rgb(235, 201, 173);
}

.label-input{
    background-color: rgb(235, 201, 173);
    display: flex;
    align-items: center;
    margin: 8px;
}

.item-modify{
    padding: 0 10px;
    color: rgb(117, 116, 116);
}

.description{
    font-size: 11.5pt;
    font-weight: 300;
    line-height: 25px;
}

.description-primary{
    color: #fff;
}

.description-second{
    color: rgb(117, 116, 116);
}

.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 8pt;
    padding: 10px 50px;
    cursor: pointer;
    
}

.btn-primary{
    background-color: transparent;
    border: 1px solid #fff;
    margin-top: 10px;
}

.btn-second{
    background-color: transparent;
    color: rgb(248, 146, 29);
    border: 1px solid rgb(248, 146, 29);
    width: 180px;
    align-self: center;

}

.btn-primary:hover{
    background-color: #fff;
    color: rgb(248, 146, 29);
    transition: 200ms;
}

.btn-second:hover{
    background-color: rgb(248, 146, 29);
    color: #fff;
    transition: 200ms;
}

/* Second Content */

.second-content{
    position: absolute;
    display: flex;
}

.second-content .first-column{
    order: 2;
    z-index: -1;
}

.second-content .second-column{
    order: 1;
    z-index: -1;
}

.forgot-password{
    text-decoration: none;
    color: rgb(117, 116, 116);
    align-self: center;
    font-size: 10pt;
    margin-bottom: 5px;
    width: 130px;
    
}

.forgot-password:hover{
    text-decoration: underline;
}

/*Troca de lados*/

.entrar-js .first-content .first-column,
.entrar-js .first-content .second-column{
    z-index: -1;
}

.entrar-js .second-content .first-column,
.entrar-js .second-content .second-column{
    z-index: 11;
}

.entrar-js .content::before{
    left: 60%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.cadastre-js .first-content .first-column,
.cadastre-js .first-content .second-column{
    z-index: 11;
}

.cadastre-js .second-content .first-column,
.cadastre-js .second-content .second-column{
    z-index: -1;
}

